<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>FisioVis</title>
  </head>
  <section class="bg-white lg:grid lg:h-screen lg:place-content-center">
    <div
      class="mx-auto w-screen max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32"
    >
      <div class="mx-auto max-w-5xl text-center space-y-6">
        <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
          Mejora tus evaluaciones y seguimiento
          <strong class="text-teal-600"> fisioterapéutico </strong>
          con FisioVis
        </h1>

        <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
          Optimiza el análisis postural y la medición de movimientos con
          herramientas inteligentes. Captura, compara y genera informes clínicos
          en segundos.
        </p>

        <div class="mt-4 flex justify-center gap-4 sm:mt-6">
          <a
            class="inline-block rounded border border-indigo-600 bg-teal-600 px-12 py-3 text-sm font-medium text-white hover:bg-teal-700 focus:outline-none focus:ring active:text-indigo-500"
            href="{% url 'login' %}"
          >
            Comenzar ahora
          </a>

          <a
            class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
            href="{% url 'about' %}"
          >
            Ver cómo funciona
          </a>
        </div>
      </div>
    </div>
  </section>
</html>
